<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<title>{% block title %}{% endblock %}</title>
		<style media="all" type="text/css">
			@import "css/reset.css";
			@import "css/style.css";
			@import "css/jquery.fancybox-1.3.4.css"
		</style>
		
		<script type="text/javascript" src="js/jquery-1.5.min.js"></script>
		<script type="text/javascript" src="js/jquery.fancybox-1.3.4.pack.js"></script>
		<script type="text/javascript" src="js/jquery.easing-1.3.pack.js"></script>
</head>
<body>
	<div id="wrapper">
		<div class="logo">
			<h1>Administration</h1>
		</div>
		<div class="navigation">
			<ul class="clearfix">
				<li><a href="/">Message List</a></li>
			</ul>
		</div>
		
		<div class="content">
			{% block content %}{% endblock %}
		</div>
	</div>
</body>
</html>