{% extends "base.html" %}
{% block title %}Email Messages{% endblock %}
{% block content %}
<h1>Message List</h1>

{% if rows %}
<table>
	<tr>
		<th>From:</th>
		<th>To:</th>
		<th>Subject:</th>
		<th>Date Sent:</th>
		<th>Options:</th>
	</tr>
	{% for row in rows %}
	<tr>
		<td>{{ row[1] }}</td>
		<td>{{ row[2] }}</td>
		<td>{{ row[3] }}</td>
		<td>{{ row[4] }}</td>
		<td><a id="link-{{ row[0] }}" href="/message?id={{ row[0] }}">View Email</a> | <a href="/delete?id={{ row[0] }}" onclick="return window.confirm('Are you sure you wish to delete this message?');">Delete</a>
		<script type="text/javascript">
			$("#link-{{ row[0] }}").fancybox({
				'titlePosition'		: 'outside',
				'width'				: '75%',
				'height'			: '75%',
				'autoScale'			: false,
				'type'				: 'iframe',
				'padding'			: 0
			});
		</script>
		</td>
	</tr>
	{% endfor %}
</table>
{% else %}
<p>There are not emails stored in the database.</p>
{% endif %}

{% endblock %}