{% block content %}
<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<title>{% block title %}{% endblock %}</title>
		<style media="all" type="text/css">
			@import "css/reset.css";
			@import "css/style.css";
		</style>
		
		<script type="text/javascript" src="js/jquery-1.5.min.js"></script>
</head>
<body>
	<div class="messagebox">
		<div class="title">From: <span>{{ message.mail_from }}</span></div>
		<div class="title">To: <span>{{ message.mail_to }}</span></div>
		<div class="title">Subject: <span>{{ message.subject }}</span></div>
		<div class="information clearfix">
			<span>{{ message.received_date }}</span>
			<span class="content-type">Content Type: {{ message.content_type }}</span>
		</div>
		<div class="message">
			{% if message.html_body != '' %}
			<p class="button"><a href="#" onclick="$('#htmlEmail').toggle();return false;">Toggle HTML</a></p>
			<div id="htmlEmail" style="display:none;">
				<iframe src="/message?id={{ message.message_id }}&amp;onlymsg=true" height="400">Your browser does not support iframes</iframe>
			</div>
			{% endif %}
		</div>
		<div class="message">
			{% if message.text_body != '' %}
			<p><a href="#" onclick="$('#textEmail').toggle();return false;">Toggle Text</a></p>
			<div id="textEmail" style="display:none;">
				<pre>{{ message.text_body }}</pre>
			</div>
			{% endif %}
		</div>
	</div>
</body>
</html>
{% endblock %}